*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #987dfe;
  color: white;
}
.table-wrapper {
  margin: 50px auto;

  display: flex;
  width: 80%;
  height: 800px;
  border: 10px solid white;
  border-radius: 20px;
  .leftside {
    width: 30%;
    background-color: white;
    height: 100%;
    padding: 0 30px;
    .completedcount {
      padding-top: 50px;
      color: #7c7a88;
      font-size: 54px;
    }
    .leftside_title {
      margin-top: 50px;
      color: #7c7a88;
    }
    .inspiring {
      color: #7c7a88;
      margin-top: 50px;
    }
  }
  .rightside {
    padding: 5% 10%;
    width: 100%;
    .title {
      margin-bottom: 40px;
    }
    .addTodobar {
      width: 100%;
      .addTodobar_input {
        width: 100%;
        height: 60px;
      }
    }
    .todolistcontainer {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .todolist {
        width: 90%;
        max-height: 500px;
        overflow: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        .todolistItem {
          width: 100%;
          list-style: none;
          margin-bottom: 20px;

          .todolistItem_block {
            width: 100%;
            padding: 0 20px;
            height: 60px;
            border-radius: 20px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
              display: flex;
              gap: 15px;
              .todoorder {
                color: #7c7a88;
              }
              .todoname {
                color: #7c7a88;
              }
            }
            .right {
              display: flex;
              gap: 20px;
              .toggleComplete {
                cursor: pointer;
              }
              .delete {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
